<div class="business-card" *ngIf="business.businessName">
  <a [routerLink]="business.link">
    <div class="image-container">
      <div class="featured" [ngClass]="{ true: business.isFeatured }">
        FEATURED
      </div>
      <div class="business-reviews">
        <div class="reviews-backing"></div>
        <app-star-rating [starRating]="business.rating.score"></app-star-rating>
      </div>
      <img [src]="business.images.hero" alt="Picture of business" />
    </div>
    <div class="content-container">
      <div class="content-row">
        <h3 class="name">{{ business.businessName }}</h3>
        <div class="type">{{ business.type }}</div>
      </div>
      <div class="content-row">
        <div class="address">{{ businessAddress }}</div>
        <div class="price">$$</div>
      </div>
      <div class="description">{{ business.description.short }}</div>
    </div>
  </a>
</div>
