.footer {
  background-color: #f7f7f7;
}

.section {
  display: grid;
  background-color: #f7f7f7;
  padding: 24px 80px;
}

.nav {
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #ddd;

  ul {
    column-count: 2;
  }
}

.cities {
  grid-template-columns: 1fr;
  border-bottom: 1px solid #ddd;

  ul {
    column-count: 3;
  }
}

.copywrite {
  grid-template-columns: 1fr 1fr;
  font-size: 14px;
}

.selected-location {
  justify-self: end;
}

.heading {
  font-weight: 500;
  margin-bottom: 12px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;

  li {
    margin-bottom: 12px;
  }
}

a,
span[routerLink] {
  color: #212529;
  &:hover {
    text-decoration: underline;
  }
}

.social {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
}
