@mixin phone() {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin tablet() {
  @media (max-width: 800px) {
    @content;
  }
}

.content {
  padding: 0 80px;
  @include tablet {
    padding: 40px;
  }
  @include phone {
    padding: 24px;
  }
}

span[routerLink] {
  cursor: pointer;
}
