.carousel {
  margin-bottom: 48px;
}
.body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 0 80px;
  margin-bottom: 48px;
}
.search-info {
  margin-bottom: 12px;
  padding-left: 24px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 14px;
}

.list-view {
  background: white;
  padding: 2px 14px;
  border: 1px solid black;
  border-radius: 6px 0 0 6px;
  border-right: none;
  &.active {
    background: #e4f5ff;
  }
}
.grid-view {
  background: white;
  padding: 2px 14px;
  border: 1px solid black;
  border-radius: 0 6px 6px 0;
  &.active {
    background: #e4f5ff;
  }
}
.filter {
  background-color: orange;
  min-width: 200px;
  grid-row: 1/3;
}
.results {
  padding-left: 24px;
  grid-row: 2/3;
}
.list {
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;

  @media (max-width: 900px) {
    grid-template-columns: 1fr 1fr;
  }
}
