<main class="app content">
  <button routerLink="">Home</button>
  <button routerLink="/login">login</button>
  <button routerLink="/register">register</button>
  <button routerLink="/forgot-password">forgot-password</button>
  <button routerLink="/search">search</button>
  <button routerLink="/barbers">barbers</button>
  <button routerLink="/barbers/1">barbers/1</button>
  <button routerLink="/salons">salons</button>
  <button routerLink="/salons/1">salons/1</button>
  <button routerLink="/404">404</button>
  <router-outlet></router-outlet>
</main>
