<div class="register-page">
  <div class="form">
    <h1 class="heading">Sign up</h1>
    <form #login="ngForm" (ngSubmit)="handleSubmit(login)">
      <input type="text" name="email" id="email" placeholder="Email" />
      <input
        type="text"
        name="phoneNumber"
        id="phoneNumber"
        placeholder="Phone Number"
      />
      <input
        type="text"
        name="firstName"
        id="firstName"
        placeholder="First Name"
      />
      <input
        type="text"
        name="lastName"
        id="lastName"
        placeholder="Last Name"
      />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
      />
      <button type="submit">Sign up</button>
    </form>
  </div>
  <div class="info"></div>
</div>
