<ngb-carousel
  *ngIf="images"
  [showNavigationArrows]="config.showNavigationArrows"
  [showNavigationIndicators]="config.showNavigationIndicators"
  [interval]="config.interval"
>
  <ng-template ngbSlide *ngFor="let img of images">
    <div class="img-wrapper">
      <img [src]="img" alt="Random first slide" />
    </div>
    <div class="backing"></div>
    <div class="content-wrap">
      <div class="slide-content">
        <h1>Find a salon or barber near you:</h1>
        <app-search></app-search>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
