.content-wrap {
  position: absolute;
  right: 15%;
  left: 15%;
  top: 35%;
  z-index: 10;
  padding: 20px 0;
  color: #fff;
  text-align: center;
}

.backing {
  background-color: #000;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slide-content {
  position: relative;

  h1 {
    margin-bottom: 24px;
  }
  input {
    width: 400px;
    border-radius: 4px;
    height: 56px;
    border: none;
    font-size: 32px;
    padding: 20px;
    text-align: center;
  }
}
