.content-wrap {
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  left: 0;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 10;
  color: #fff;
  text-align: center;
}

.backing {
  background-color: #000;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slide-content {
  position: relative;

  h1 {
    margin-bottom: 24px;
  }
  input {
    width: 400px;
    border-radius: 4px;
    height: 56px;
    border: none;
    font-size: 32px;
    padding: 20px;
    text-align: center;
  }
}
